<div class="flex">
    <div class="w-4/12 h-screen bg-gradient-to-r from-cyan-500 to-cyan-300 flex items-center justify-center ">
        <div class="text-center w-4/5 bg-white rounded">
            <h1 class="text-center text-2xl mb-2 pt-3">Card Creator</h1>
            <div class="m-3 p-2">
                <div class="text-left">
                    <label for="firstName">First Name</label>
                    <input name='firstName' [(ngModel)]="firstName" class="border-2 border-gray-200 rounded w-full my-1.5 px-2 py-1" type="text">
                </div> 
                <div class="text-left">
                    <label for="lastName">Last Name</label>
                    <input name='lastName' [(ngModel)]="lastName" class="border-2 rounded w-full my-1.5 px-2 py-1" type="text">
                </div>  
                <div class="text-left">
                    <label for="mobile1">Personal Contact</label>
                    <input name='mobile1' [(ngModel)]="mobile1" class="border-2 rounded w-full my-1.5 px-2 py-1" type="text">
                </div>  
                <div class="text-left">
                    <label for="mobile2">Alternate Contact</label>
                    <input name="mobile2" [(ngModel)]="mobile2" class="border-2 rounded w-full my-1.5 px-2 py-1" type="text">
                </div>  
                <div class="text-left">
                    <label for="email">Email ID</label>
                    <input name="email" [(ngModel)]="email" class="border-2 rounded w-full my-1.5 px-2 py-1" type="text">
                </div> 
                <div class="text-left">
                    <label for="card_color">Card Color</label>
                </div>
                <div class="justify-center flex p-1" [(ngModel)] = "color">
                    <div class="bg-red-500  mr-2 px-4 py-3 rounded" style='cursor:pointer;' (click) = "color=1">
                        <!-- &nbsp; &nbsp; &nbsp; -->
                    </div>                    
                    <div class="bg-blue-500 mr-2 px-4 py-3 rounded" style='cursor:pointer;' (click) = "color=2">
                        <!-- &nbsp; &nbsp; &nbsp; -->
                    </div>
                    <div class="bg-green-500 mr-2 px-4 py-3 rounded" style='cursor:pointer;' (click) = "color=3">
                        <!-- &nbsp; &nbsp; &nbsp; -->
                    </div>
                    <div class="bg-yellow-500 mr-2 px-4 py-3 rounded" style='cursor:pointer;' (click) = "color=4">
                        <!-- &nbsp; &nbsp; &nbsp; -->
                    </div>
                    <div class="bg-orange-500 mr-2 px-4 py-3 rounded" style='cursor:pointer;' (click) = "color=5">
                        <!-- &nbsp; &nbsp; &nbsp; -->
                    </div>
                </div> 
                <button type="submit" class="bg-cyan-400 hover:bg-cyan-500 hover:text-white text-zinc-600 px-2 py-1 mt-1 rounded font-semibold">Create</button>         
            </div>
        </div>
    </div>  
    <div class="w-full h-screen flex justify-center items-center bg-slate-200">
        <div class="bg-red-400 text-center w-2/5">
            <div class="shadow-2xl shadow-red-300" [ngClass] = "{'bg-red-400 shadow-red-300': color==1, 'bg-blue-400 shadow-blue-300': color==2, 'bg-green-400 shadow-green-300': color==3, 'bg-yellow-400 shadow-yellow-300': color==4, 'bg-orange-400 shadow-orange-300': color==5}" >
                <h1 class="py-2">User Card</h1>
                <div class="text-left ml-4 p-3">
                    <p class="pb-2" >Name:&nbsp;{{ firstName +' '+ lastName }}</p>
                    <p class="pb-2" >Mobile No. 1:&nbsp;{{ mobile1 }}</p> 
                    <p class="pb-2" >Mobile No. 2:&nbsp;{{ mobile2 }}</p>
                    <p class="pb-2" >Email:&nbsp;{{ email }}</p>
                </div>
            </div>
        </div>
        
    </div>  
</div>


